@import "./variables";
@import "./typography";
@import "./authentication";
@import "./layout";
@import "./dashboard";
@import "./invoice";

.select2-selection__rendered {
  line-height: 36px !important;
}
.select2-container .select2-selection--single {
  border: 1px solid #ced4da;
  height: 38px;
}
.select2-container--open .select2-dropdown {
  left: -1px;
}
.select2-selection__arrow {
  height: 38px !important;
}
.select2-dropdown {
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 16px 18px rgba(6, 10, 48, 0.1);
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #e9ebfa;
  border-radius: 0.25rem;
  outline: none;
}
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--selected {
    background-color: $color2;
    color: $color7;
}
